body{
    background: #ccd0ed;
}
div[id=canvassnake]{
    height: 552px;
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    right: 50%;
    left: 50%;
    border: solid 20px #5c547c;
}
div[id=marcador]{
    width:500px;
    height:50px;
    text-align: right;
    background-color: #9dc805;
    font-family: MS UI Gothic;
    font-size: 2em;
    color:#001600;
}
